button{
    cursor: pointer;
}

/* tailwind.css or global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.split-text {
      color: linear-gradient(to bottom , black 50%, white 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }